body {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
}

[class*="__container"] {
	max-width: 1280px;
	margin: 0 auto;
}
[class*="page__"] {
	padding: 20px 15px;
}
[class*="__title"] {
	margin-bottom: 10px;
}
.header {
	padding: 20px 0;
}
.main-title {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.page {
	margin-bottom: 40px;
}
.page span {
	display: inline-block;
	padding: 0 10px;
	font-size: 20px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: #fff;
}
.title {
	font-size: 36px;
	font-weight: 700;
}
.display {
	background-color: #c4c4c4;
}
.display__block {
	background-color: brown;
	color: #fff;
	padding: 5px;
	margin: 5px;
}
.display__inline-block {
	display: inline-block;
	background-color: purple;
	padding: 5px;
	color: #fff;
	margin: 5px;
	min-width: 150px;
	text-align: center;
}
.display__inline {
	display: inline;
	background-color: green;
	color: #fff;
}
.padding > div {
	background-color: orange;
	margin-bottom: 10px;
}
.padding p {
	background-color: green;
	text-align: center;
	color: #fff;
}
.padding__1 {
	padding: 30px;
}
.padding__2 {
	padding: 30px 10px;
}
.padding__3 {
	padding: 30px 10px 50px;
}
.padding__4 {
	padding: 30px 10px 50px 100px;
}
.center {
	background-color: #c4c4c4;
}
.center__block div {
	max-width: 250px;
	background-color: yellowgreen;
	padding: 5px;
	text-align: center;
}
.center__item-center {
	margin: 0 auto;
}
.center__item-right {
	margin: 0 0 0 auto;
}
.page__overflow {
	margin-bottom: 80px;
}
.overflow__item {
	display: inline-block;
	vertical-align: top;
	background-color: violet;
	margin-right: 10px;
}
.overflow__item div {
	max-height: 220px;
	max-width: 150px;
	padding: 5px;
}
.overflow__block-hid {
	overflow: hidden;
}
.overflow__block-scroll {
	overflow: scroll;
}
.overflow__block-auto {
	overflow: auto;
}
.vis-op {
	background-color: #c4c4c4;
}
.vis-op a {
	text-decoration: underline;
}
.vis-op__item {
	display: inline-block;
	max-width: 200px;
	background-color: pink;
	padding: 5px;
	vertical-align: top;
}
.vis-op__title {
	font-weight: 700;
	margin-bottom: 10px;
}
.vis-op__op-half {
	opacity: 0.5;
}
.vis-op__op-full {
	opacity: 0;
}
.vis-op__vis-hidden {
	visibility: hidden;
}
.vis-op__display-none {
	display: none;
}
.vis-op__next-block {
	background-color: paleturquoise;
	text-align: center;
}
.border__item {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	margin-right: 20px;
	background-color: orange;
	color: #fff;
	min-width: 150px;
}
.border__solid {
	padding: 10px;
	border: 5px solid #000;
}
.border__dashed {
	padding: 10px;
	border: 5px dashed #000;
}
.border__dotted {
	padding: 10px;
	border: 5px dotted #000;
}
.border__double {
	padding: 10px;
	border: 5px double #000;
}
.outline {
	background-color: #c4c4c4;
}
.outline__item {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	margin-right: 20px;
	background-color: orange;
	color: #fff;
}
.outline__link {
	min-width: 150px;
	padding: 10px;
	display: inline-block;
}
.outline__link:focus {
	outline: 5px solid orangered;
}
.radius__item {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: brown;
	color: #fff;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
	padding-top: 90px;
}
.outline__link--dashed:focus {
	outline-style: dashed;
	outline-offset: 5px;
}
.outline__link--dotted:focus {
	outline-style: dotted;
	outline-offset: 10px;
}
.outline__link--double:focus {
	outline-style: double;
	outline-offset: 15px;
}
.radius__item--full {
	border-radius: 20px;
}
.radius__item--custom {
	border-radius: 30% 70% 18% 82% / 49% 30% 70% 51%;
}
.radius__item--circle {
	border-radius: 50%;
}
.box-shadow {
	background-color: #c4c4c4;
}
.box-shadow__item {
	display: inline-block;
	font-size: 24px;
	padding: 15px;
	background-color: beige;
	min-width: 150px;
	margin-right: 20px;
	border-radius: 15px;
	text-align: center;
}
.box-shadow__item--outer-shadow {
	box-shadow: 5px 5px 15px 5px yellow;
}
.box-shadow__item--inner-shadow {
	box-shadow: inset 3px 3px 5px 3px green;
}
.box-shadow__item--multi-shadow {
	box-shadow:
		5px 5px 15px 10px yellow,
		inset 3px 3px 5px 3px green;
}
.color__item {
	display: inline-block;
	width: 300px;
	height: 200px;
	text-align: center;
	margin-right: 10px;
}
.color__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
}
.color__regular {
	background-color: brown;
}
.color__rgba {
	background-color: rgba(165, 42, 42, 0.5);
}
.image {
	background-color: #c4c4c4;
}
.image__item {
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
}
.image__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
}
.image__pic {
	background-image: url("../img/fls.webp");
}
.image__gradient {
	background-image: linear-gradient(90deg, rgba(122, 1, 1, 1) 0%, rgba(138, 135, 7, 1) 35%, rgba(160, 224, 237, 1) 100%);
}
.image__radial-gradient {
	background-image: radial-gradient(circle, rgb(201, 188, 5) 0%, rgba(8, 138, 7, 1) 35%, rgba(223, 160, 237, 0.5504740168539326) 100%);
}
.repeat__item {
	display: inline-block;
	width: 350px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.repeat__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	background: bisque url("../img/fls_small.webp");
}
.repeat__no {
	background-repeat: no-repeat;
}
.repeat__x {
	background-repeat: repeat-x;
}
.repeat__y {
	background-repeat: repeat-y;
}
.repeat__space {
	background-repeat: space;
}
.repeat__round {
	background-repeat: round;
}
.pos {
	background-color: #c4c4c4;
}
.pos__item {
	display: inline-block;
	width: 210px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.pos__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	background: bisque url("../img/fls_small.webp") no-repeat;
}
.pos__start {
	background-position: left top;
}
.pos__center {
	background-position: center;
}
.pos__side {
	background-position: right center;
}
.pos__coord {
	background-position: 30px 120px;
}
.att__item {
	display: inline-block;
	width: 210px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.att__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	background: bisque url("../img/fls.webp") no-repeat;
	overflow: auto;
}
.att__scroll {
	background-attachment: scroll;
}
.att__fixed {
	background-attachment: fixed;
}
.att__local {
	background-attachment: local;
}
.size {
	background-color: #c4c4c4;
}
.size__item {
	display: inline-block;
	width: 300px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.size__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	background: bisque url("../img/fls.webp") no-repeat;
	overflow: auto;
}
.size__default-small {
	background-image: url("../img/fls_small.webp");
}
.size__width {
	background-size: 100%;
}
.size__height {
	background-size: auto 100%;
}
.size__stretch {
	background-size: 100% 100%;
}
.size__contain {
	background-size: contain;
	background-position: center;
}
.size__cover {
	background-size: cover;
	background-position: center;
}
.size__custom {
	background-size: 200px 120px;
}
.multi__item {
	width: 600px;
	height: 300px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	padding: 5px;
	background:
		url("../img/logo.webp") right bottom / 30% no-repeat,
		url("../img/fls.webp") 0 0 / 30% no-repeat,
		url("../img/logo.webp") no-repeat;
	overflow: auto;
}
.clip {
	background-color: #c4c4c4;
}
.clip__item {
	display: inline-block;
	width: 210px;
	height: 200px;
	text-align: center;
	margin-right: 5px;
	margin-bottom: 5px;
}
.clip__item > * {
	height: 100%;
	border-radius: 10px;
	padding: 5px;
	background: bisque url("../img/fls.webp") center / cover no-repeat;
}
.clip__border {
	background-clip: border-box;
	border: 7px dashed #000;
}
.clip__padding {
	background-clip: padding-box;
	border: 7px dashed #000;
}
.clip__content {
	background-clip: content-box;
	border: 7px dashed #000;
}
.clip__text {
	background-clip: text;
	color: transparent;
	border: 7px dashed #000;
	font-weight: 700;
}
.homework {
	padding-inline: 0;
}
.homework__furniro {
	margin-bottom: 20px;
}
.furniro {
	background:
		linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
		url("../img/furniro/background-image.webp") center / cover no-repeat;
}
.furniro__content {
	backdrop-filter: blur(2px);
	font-family: "Poppins", sans-serif;
	color: #000;
	font-weight: 500;
	text-align: center;
	line-height: 1.2;
	padding: 61px 15px 97px;
}
.furniro__logo {
	margin: 0 auto;
	max-width: 77px;
	max-height: 77px;
	margin-bottom: 5px;
}
.furniro__head-title {
	font-size: 48px;
	margin-bottom: 5px;
}
.breadcrumbs {
	font-size: 16px;
}
.breadcrumbs__home {
	font-weight: 500;
	margin-right: 6px;
}
.breadcrumbs__checkout {
	background: url("../img/furniro/arrow.svg") 0 1px / 8px 14px no-repeat;
	padding-left: 20px;
	font-weight: 300;
}
.homework__catalyst1 {
	margin-bottom: 20px;
	padding: 35px 0;
}
.catalyst1 {
	font-family: "Barlow", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(179, 179, 178, 1);
	background-color: rgba(3, 3, 3, 1);
}
.catalyst1__content {
	max-width: 800px;
	padding: 32px 32px 32px 32px;
	margin: 0 auto;
	border-radius: 12px;
	background-color: rgba(26, 26, 26, 1);
}
.catalyst1__label {
	color: rgba(249, 239, 236, 1);
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.catalyst1__text:not(:last-child) {
	margin-bottom: 24px;
}
.catalyst1__text p:not(:last-child) {
	margin-bottom: 15px;
}
.catalyst1__list {
	margin-bottom: 24px;
}
.catalyst1__item {
	background: url("../img/catalyst1/list-item-icon.svg") 0 4px / 16px no-repeat;
	padding-left: 26px;
	min-height: 20px;
}
.catalyst1__item:not(:last-child) {
	margin-bottom: 12px;
}
.catalyst2 {
	background:
		linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/catalyst2/background-image.webp") center / cover no-repeat;
}
.catalyst2__content {
	font-family: "Barlow", sans-serif;
	text-align: center;
	line-height: 1.5;
	padding: 94px 15px 85px;
}
.catalyst2__head-title {
	color: rgba(249, 239, 236, 1);
	font-weight: 800;
	font-size: 64px;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.catalyst2__button {
	color: #fff;
	text-transform: capitalize;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	background-color: rgba(10, 132, 255, 1);
	padding: 13px 78px;
	border-radius: 12px;
}
.footer {
	padding: 15px 15px;
}
.footer__button {
	font-size: 32px;
	color: red;
	font-weight: 700;
}
.footer__button a {
	text-decoration: underline;
}
